<!DOCTYPE html>
<html>
<head>
	<title>Barber Shop</title>
</head>
<body>

<table class="table table-bordered">

	<thead>
		<tr>
			<th>Имя</th>
			<th>Почта</th>
			<th>Телефон</th>
			<th>Время</th>
			<th>Парикмахер</th>
			<th>Цвет</th>	
		</tr>
	</thead>	
	<body>
	<% @results.each do |row| %>
		<tr>
			<td><%= row['user'] %></td>
			<td><%= row['usermail'] %></td>
			<td><%= row['userphone'] %></td>
			<td><%= row['date_time'] %></td>
			<td><%= row['barber'] %></td>
			<td><%= row['color'] %></td>

		</tr>
	<% end %>
	</body>

</table>

</body>
</html>

