<!DOCTYPE html>
<html>
<head>
	<title>Barber Shop</title>

</head>
<body>
<h2>Записаться на стрижку</h2>

<script type="text/javascript">
	$(function(){
		$('#color').simplecolorpicker();
		$('#datetimepicker').datetimepicker();
	});
</script>

<form action='/visit' method="POST" role="form">
	
	<div class="form-group">
		<label>Ваше имя</label>
		<input name="user" type="text" class="form-control" placeholder="Имя" value="<%=@user%>">
	</div>

	<div class="form-group">
		<label>Ваша почта</label>
		<input name="usermail" type="text" class="form-control" placeholder="Почта" value="<%=@usermail%>">
	</div>

	<div class="form-group">
		<label>Ваш телефон</label>
		<input name="userphone" type="text" class="form-control" placeholder="Телефон" value="<%=@userphone%>">
	</div>

	<div class="form-group">
		<label>Введите дату и время</label>
		<input id="datetimepicker" name="date_time" type="text" class="form-control" placeholder="dd/mm - hh/mm" value="<%=@date_time%>">
	</div>

	<div class="form-group">
		<label>Ваш парикмахер:</label>
		<select name="barber" class="form-control">

			<% @barbers.each do |item| %>
				<option <%= @barbers == item['name'] ? 'selected' : '' %>><%= item['name'] %></option>
			<% end %>

		</select>
	</div> <br /><br /><br />

	<div class="form-group">
		<label>Какой цвет вам к лицу:</label>
		<select id="color" name="color">
			<option value="#7bd148"<%= @color == '#7bd148' ? 'selected' : '' %>>Green</option>
			<option value="#5484ed"<%= @color == '#5484ed' ? 'selected' : '' %>>Bold blue</option>
			<option value="#a4bdfc"<%= @color == '#a4bdfc' ? 'selected' : '' %>>Blue</option>
			<option value="#46d6db"<%= @color == '#46d6db' ? 'selected' : '' %>>Turquoise</option>
			<option value="#7ae7bf"<%= @color == '#7ae7bf' ? 'selected' : '' %>>Light green</option>
			<option value="#51b749"<%= @color == '#51b749' ? 'selected' : '' %>>Bold green</option>
			<option value="#fbd75b"<%= @color == '#fbd75b' ? 'selected' : '' %>>Yellow</option>
			<option value="#ffb878"<%= @color == '#ffb878' ? 'selected' : '' %>>Orange</option>
			<option value="#ff887c"<%= @color == '#ff887c' ? 'selected' : '' %>>Red</option>
			<option value="#dc2127"<%= @color == '#dc2127' ? 'selected' : '' %>>Bold red</option>
			<option value="#dbadff"<%= @color == '#dbadff' ? 'selected' : '' %>>Purple</option>
			<option value="#e1e1e1"<%= @color == '#e1e1e1' ? 'selected' : '' %>>Gray</option>
		</select>

	</div>

	<button type="submit" class="btn btn-primary">Записаться</button>

</form>


</body>
</html>